africastalking==1.1.8
asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
contextlib2==0.5.5
cryptography==3.2
idna==2.8
nexmo==2.4.0
nose==1.3.7
pycparser==2.19
PyJWT==1.7.1
pytz==2019.2
requests==2.22.0
schema==0.7.1
six==1.12.0
urllib3==1.25.3
